@page "/AuctionStates"
@layout LoginLayout

@attribute [StreamRendering]
@inherits ComponentBase
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IUserService UserService
@using Classes.Session

<PageTitle>AuctionStates</PageTitle>

<div class="page">
  <div class="page-title">Licitações</div>
  <div class="body">
    <div class="row">
        <div class="por-pagar-section" @onclick=" () => NavigateToPorPagarSection()">
            <img class="bckg" src="pngs/por-pagar-bckg.png" />
            <div class="por-pagar">POR PAGAR</div>
        </div>
        <div class="por-enviar-section" @onclick=" () => NavigateToPorEnviarSection()">
        <img class="bckg" src="pngs/por-enviar-bckg.png" />
        <div class="por-enviar">POR ENVIAR</div>
        </div>
    </div>
    <div class="row">
        <div class="por-entregar-section" @onclick=" () => NavigateToPorEntregarSection()">
        <img class="bckg" src="pngs/por-entregar-bckg.png" />
        <div class="por-entregar">POR ENTREGAR</div>
        </div>
        <div class="concluido-section" @onclick=" () => NavigateToConcluidoSection()">
        <img class="bckg" src="pngs/concluido-bckg.png" />
        <div class="concluido">CONCLUIDO</div>
        </div>
    </div>
    <div class="em-leilao-section" @onclick=" () => NavigateToEmLeilaoSection()">
        <img class="bckg" src="pngs/em-leilao-bckg.png" />
        <div class="em-leilao">EM LEILÃO</div>
    </div>
  </div>
</div>

@code {
    private void NavigateToPorPagarSection() {
        NavigationManager.NavigateTo("/AuctionStates/PorPagar"); 
    }

    private void NavigateToPorEnviarSection() {

        NavigationManager.NavigateTo($"/AuctionStates/PorEnviar"); 
    }

    private void NavigateToPorEntregarSection() {
         
        NavigationManager.NavigateTo("/AuctionStates/PorEntregar"); 
    }
    
    private void NavigateToConcluidoSection() {

        NavigationManager.NavigateTo("/AuctionStates/Concluido"); 
    }

    private void NavigateToEmLeilaoSection() {

        NavigationManager.NavigateTo("/AuctionStates/EmLeilao"); 
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            // ver se user existe e ta valido
            User user = await localStorage.GetItemAsync<User>("User");
            if (user == null || await UserService.checkUserValid(user) == false) NavigationManager.NavigateTo("/");
            Session session = await localStorage.GetItemAsync<Session>("Session");
            if (session == null || await UserService.checkUserValidSession(user, session) == false) NavigationManager.NavigateTo("/");
        }
	}
}