<div class="header">
  <img class="logo-galeria" src="pngs/logo-galeria-horiz.png" />
  <div class="searchbar">
      <img class="lupa" src="pngs/searchbar-lupa.png" />
      <div class="texto-searchbar">Pesquisar artigos</div>
  </div>
  <div class="login-container">
    <div class="text">Iniciar sessão</div>
  </div>
</div>
