@inject NavigationManager NavigationManager

<div class="header">
  <img class="logo-galeria" src="pngs/logo-galeria-horiz.png" />
  <form id="searchForm" class="searchbar">
      <img class="lupa" src="pngs/searchbar-lupa.png" />
      <input type="search" id="searchInput" placeholder="Pesquisar artigos" @bind="searchQuery">
  </form>
  <button class="login-button" @onclick="ShowLoginPopup">Iniciar Sessão</button>
</div>

@code{
  private string searchQuery; // resultado da pesquisa

//interpretar pesquisa
  private void Search() {
    NavigationManager.NavigateTo($"searchresults.html?search={Uri.EscapeDataString(searchQuery)}");
  }

  private void ShowLoginPopup()
  {
    // fazer cenas somehow
  }
}