<link rel="stylesheet" href="/Components/Pages/Header/Header.razor.css" />

<div class="header">
    <div class="logo-container">
      <img class="logo-galeria" src="pngs/logo-galeria.png" />
    </div>
    <div class="searchbar">
      <div class="rectangle"></div>
      <div class="texto-searchbar">Pesquisar artigos</div>
      <img class="lupa" src="pngs/searchbar-lupa.png" />
    </div>

    <div class="login-container">
      <div class="rectangle-2"></div>
      <div class="text">Iniciar sessão</div>
    </div>
</div>
