<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="app.styles.css" />
    <link rel="icon" type="image/png" href="pngs/favicon.png"/>
    <link rel="icon" type="image/png" href="pngs/searchbar-lupa.png"/>
    <link rel="icon" type="image/png" href="pngs/home-bckg-galeria.png"/>
    <link rel="icon" type="image/png" href="pngs/logo-galeria-horiz.png"/>
    <link rel="icon" type="image/png" href="pngs/logo-galeria-vert.png"/>
    <link rel="icon" type="image/png" href="pngs/logo-galeria-simples.png"/>
    <link rel="icon" type="image/png" href="UserPhotos/std_user.png"/>
    <link rel="icon" type="image/png" href="AuctionPhotos/camaroes_foto1.png"/>
    <link rel="icon" type="image/png" href="AuctionPhotos/camaroes_foto2.png"/>
    <link rel="icon" type="image/png" href="AuctionPhotos/camaroes_foto3.png"/>
    <link rel="icon" type="image/jpg" href="AuctionPhotos/monalisa_foto1.jpg"/>
    <link rel="icon" type="image/jpg" href="AuctionPhotos/grito_foto1.jpg"/>
    <link rel="icon" type="image/png" href="UserPhotos/farol1_user.png"/>

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
