@inherits ComponentBase

<div id="loginMenu" class="overlay">
    <div class="modal-content">
        <!-- Your login form content goes here -->
		loginar
        <form>
            <!-- Login form fields, labels, etc. -->
			coisas loginarias
        </form>
        <button class="close-button" href="#">Close</button>
    </div>
</div>


@code {

  private void NavigateToDetalhesLeilao() {

  }
}