@inherits ComponentBase
@rendermode InteractiveServer



@if (showMenuBig) {
		<RegisterMenuBig isVisible=true CloseCallback="CloseMenu" email=@email username=@username password=@password/>
}
@if (isVisible) {
	<div class="menu-overlay">
		<div class="menu">
			<div class="menu-header">
				<div class="menu-title">
					<div class="menu-header-title">Iniciar sessão ou criar uma conta</div>
					<button class="close-button" @onclick="CloseMenu">X</button>
				</div>
				<div class="menu-line"></div>
				<div class="menu-header-title">Criar conta</div>
			</div>

			<form class="inputs" @onsubmit="HandleSubmit">
				<input class="input-container" type="email" id="email" @bind="email" placeholder="Endereço de e-mail" required>

				<input class="input-container" type="username" id="username" @bind="username" placeholder="Nome de utilizador" required>

				<input class="input-container" type="password" id="password" @bind="password" placeholder="Palavra-passe" required>

				<button class="input-button" type="submit">Registar</button>
			</form>
		</div>
	</div>
}

@code {
	private string email = "";
	private string username = "";
	private string password = "";

	[Parameter]
	public bool isVisible { get; set; }

	private bool showMenuBig = false;

	[Parameter]
    public Action? CloseCallback { get; set; }

	public void CloseMenu() {
		isVisible = false;
		showMenuBig = false;
		CloseCallback?.Invoke();
	}

	private async Task HandleSubmit() {
		@* ver na BD se email ja existe........ *@
		showMenuBig = true;
		isVisible = false;
	}
}

