
@page "/AuctionStates/EmLeilao"
@layout LoginLayout

@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IWebHostEnvironment WebHostEnvironment
@inject IJSRuntime JSRuntime
@using Classes.AuctionCard
@using app.Components.ClassBlocks.AuctionCard
@inject IAuctionRepository db
@rendermode InteractiveServer
@using DataLayer.Auction
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IUserService UserService
@using Classes.Session

<PageTitle>Galeria Lelo</PageTitle>

@if (cards == null) {
    <p>Loading page...</p>
}
else {
    <div class="leiloes">
        @if(cards.Count > 0) {
            <p class="texto-leiloes">Leilões encontrados</p>
            <div class="grid">
                @foreach (var card in cards) {
                    <AuctionCardHorizontalComponent Card="card" />
                }
            </div>
        } else {
            <p class="texto-leiloes">Sem correspondências para "@SearchQuery"</p>
        }
    </div>
}

@code {
    public List<AuctionCard>? cards;

    [Parameter]
    public String? SearchQuery { get; set; }

	protected override async Task OnAfterRenderAsync(bool firstRender) {
		if (firstRender) {
			// ver se user existe e ta valido
			User user = await localStorage.GetItemAsync<User>("User");
			if (user == null || await UserService.checkUserValid(user) == false) NavigationManager.NavigateTo("/");
			Session session = await localStorage.GetItemAsync<Session>("Session");
			if (session == null || await UserService.checkUserValidSession(user, session) == false) NavigationManager.NavigateTo("/");
		}
	}
    protected override async Task OnInitializedAsync()
    {
        if (SearchQuery != null) {
            cards = await db.SearchAuctions(SearchQuery);
        }
    }
}