.header {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right:10px;
    position: sticky;
    height: 4rem;
    width: 100%;
    top:0;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between;
}

.logo-galeria {
    display: block;
    object-fit: contain;
    padding-left: 10px;
    padding-right: 3%;
    height: 40px;
    width: auto;

}

.logout-button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px;
    right: 0;
    margin-right: 3%;
    margin-left: 4%;
    float: right;
    width: 130px;
    height: 75%;
    background: #3b80ba;
    color: #ffffff; /* cor do texto*/
    font-family: "Lato-SemiBold", sans-serif;
    font-size: 16px;
    font-weight: 390;
    cursor: pointer;
    border: none;
    outline: none;
}

/* active é uma pseudo class !!*/
.logout-button:active {
    background: #5d94c3;
}

.logout-button:hover{
    opacity: 92%;
}