@inject NavigationManager NavigationManager
@using app.Components.Pages.Menu
@rendermode InteractiveServer
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject IAdminService AdminService
@using Classes.Session

 <div class="header">
   <img class="logo-galeria" src="pngs/logo-galeria-horiz.png" />
   <button class="logout-button" @onclick="Logout" CausesValidation="False">Logout</button>
 </div>

 @code{
 	private async Task Logout()
     {
        await localStorage.RemoveItemAsync("Admin");
 		NavigationManager.NavigateTo("/admin");
     }
 }