.criar-leilao-page {
    padding: 5vh 5vw;
}

h3 {
    font-family: "Lato-Bold", sans-serif;
    font-size: 3vw;
    font-weight: 500;
    color: black;
    margin-bottom: 2%;
}

.form-group {
    margin-bottom: 2vh;
}

.form-control {
    width: 90%;
    font-family: "Lato-SemiBold", sans-serif;
    font-size: 2.5vw;
    font-weight: 500;
    color: black;
    padding-left: 1vw;
    text-align: left;
}

.label {
    font-family: "Lato-Bold", sans-serif;
    font-size: 3vw;
    font-weight: 500;
    color: black;
    padding-left: 1vw;
    text-align: left;
}

.form-control[type="range"] {
    width: 100%;
}

.form-group button.btn-secondary {
    margin-top: 1%;
    margin-bottom: 2%;
}

.submit-check-right {
    color: green;
    font-family: "Lato-SemiBold", sans-serif;
    font-size: 1vw;
    font-weight: 500;
    margin-top: 1%;
}
