@page "/admin/stats_venda"
@layout LoginAdminLayout

@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@using DataLayer.Auction
@using Classes.AuctionCard
@using app.Components.ClassBlocks.AuctionCard
@inject IAuctionRepository db
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IAdminService AdminService
@using Classes.Admin

<div class="stats_page">
	<div class="stats_buttons">
		<button class="botao_stats_pressed" disabled="disabled">
			Estatísticas
			<br>
			de venda
		</button>
		<button class="botao_stats" @onclick="StatsCrescimento">
			Estatísticas
			<br>
			de crescimento
		</button>
	</div>
	<form class="date_form" @onsubmit="UpdateData">
		<input class="date_input" type="datetime-local" placeholder="Data início" @bind="DataInicio"/>
		<input class="date_input" type="datetime-local" placeholder="Data fim" @bind="DataFim"/>
		<button class="botao_submit" type="submit">Submeter</button>
	</form>
	<div class="stats_container">
		<p class="stats_text">
			Total lucro: @TotalLucro €
		</p>
		<p class="stats_text">
			Leilões concluidos: @LeiloesConcluidos
		</p>
		<p class="stats_text">
			Leilões iniciados: @LeiloesIniciados
		</p>
		<p class="stats_text">
			Lucro médio: @LucroMedio €
		</p>
		<p class="stats_text">
			Licitação final média: @LicitacaoFinalMedia €
		</p>
	</div>
</div>


@code {
	private float TotalLucro = 0;
	private int LeiloesConcluidos = 0;
	private int LeiloesIniciados = 0;
	private float LucroMedio = 0;
	private float LicitacaoFinalMedia = 0;
	private DateTime DataInicio = DateTime.Now;
	private DateTime DataFim = DateTime.Now;

	protected override async Task OnAfterRenderAsync(bool firstRender) {
		if (firstRender) {
			// ver se user existe e ta valido
			Admin admin = await localStorage.GetItemAsync<Admin>("Admin");
			if (admin == null || await AdminService.checkAdminValid(admin) == false) NavigationManager.NavigateTo("/admin");
			@* Console.WriteLine(await AdminService.getLucroMedioEntre(DateTime.Parse("2022-01-05"), DateTime.Parse("2025-01-10"))); *@
		}
	}

	private async Task StatsCrescimento() {
		NavigationManager.NavigateTo("/admin/stats_crescimento");
	}

	private async Task UpdateData() {
		TotalLucro = await AdminService.getLucroEntre(DataInicio, DataFim);
		LeiloesConcluidos = await AdminService.getNumeroLeiloesConcluidosEntre(DataInicio, DataFim);
		LeiloesIniciados = await AdminService.getNumeroLeiloesIniciadosEntre(DataInicio, DataFim);
		LucroMedio = await AdminService.getLucroMedioEntre(DataInicio, DataFim);
		LicitacaoFinalMedia = await AdminService.getMediaLicitacaoFinalEntre(DataInicio, DataFim);
	}
}
