@page "/admin"
@layout AdminLayout

@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject IAuctionRepository db
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IAdminService AdminService
@using Classes.Session

<PageTitle>Galeria Lelo</PageTitle>

<div class="bckg-splashart">
	<img src="pngs/home-bckg-galeria.png" class="home-backg-image" alt="Home background"> 
	<div class="text-container">
		<p class="nome-galeria">GALERIA LELO</p>
		<p class="slogan-galeria">Transforme o belo em seu, e o dinheiro em meu</p>
	</div>
</div>

@code {

	protected override async Task OnAfterRenderAsync(bool firstRender) {
		if (firstRender) {
			// ver se user existe e ta valido
			Admin admin = await localStorage.GetItemAsync<Admin>("Admin");
			if (admin == null || await AdminService.checkAdminValid(admin) == false) NavigationManager.NavigateTo("/admin");
		}
	}
}
