@page "/"
@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager;

<PageTitle>Home</PageTitle>

<h1>Home page</h1>

@if (cards == null) {
    <p>Loading home page...</p>
}
else {
    <div class="grid">
        @foreach (var card in cards) {
            <AuctionCardComponent Card="card" />
        }
    </div>
}

@* NOTA:  IEnumberable é lista final que não pode ser modificada != List em que se pode remover e adicionar elementos*@
@code {
    private IEnumerable<AuctionCard>? cards;
        protected override async Task OnInitializedAsync() {
            try {
                Http.BaseAddress = new Uri(NavigationManager.BaseUri);
                @* string domainName = NavigationManager.Uri; *@
                string jsonUrl = "/AuctionCards.json";
                var response = await Http.GetFromJsonAsync<IEnumerable<AuctionCard>>(jsonUrl);

                // Print the JSON response (for debugging purposes)
                @* Console.WriteLine($"JSON Response: {JsonSerializer.Serialize(response)}"); *@

                cards = response;
            }
            catch (HttpRequestException ex) {
                Console.WriteLine($"There was a problem loading auction cards data: {ex.Message}");
            }
        }
}
