
@page "/SearchResults/{searchQuery}"

@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IWebHostEnvironment WebHostEnvironment
@inject IJSRuntime JSRuntime
@using Classes.AuctionCard
@inject IAuctionRepository db

<PageTitle>Galeria Lelo</PageTitle>

@if (cards == null) {
    <p>Loading results page...</p>
}
else {
    <div class="leiloes">
        @if(cards.Count > 0) {
            <p class="texto-leiloes">Leilões encontrados</p>
            <div class="grid">
                @foreach (var card in cards) {
                    <AuctionCardComponent Card="card" />
                }
            </div>
        } else {
            <p class="texto-leiloes">Sem correspondências para "@SearchQuery"</p>
        }
    </div>
}

@code {
    public List<AuctionCard>? cards;

    [Parameter]
    public String? SearchQuery { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (SearchQuery != null) {
            cards = await db.SearchAuctions(SearchQuery);
        }
    }
}